*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Cormorant', serif;
    font-size: 1.6rem;
    color: $colorBlack;
    overflow-x: hidden;
}

h1 {
    font-size: 4.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: $sizeM;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: $sizeS;
}

button {
    font-size: 1.6rem;
    background-color: transparent;
    font-family: Cormorant;
    border: 1px solid $colorBlack;
    text-transform: uppercase;
    cursor: pointer;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: $colorBlack;
}


