.nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: background-color .3s .1s;

    &__box {
        margin: 3em 5em;
        transition: margin .3s;

        @include media-regular-desktop {
            margin: 3em 0;
        }

        @include media-mobile {
            position: absolute;
            display: flex;
            top: -50px;
            left: 100%;
            justify-content: center;
            align-items: center;
            height: 110vh;
            width: 100vw;
            background-color: $colorWhite;
            transition: left .3s ease-in-out;

            &--active {
                left: 0;
                transition: left .3s ease;
            }
        }
    }

    &__box-margin {
        margin: 1.2em 5em;
        @include media-regular-desktop {
            margin: 1.2em 0;
        }
    }

    &__shadow {
        background-color: $colorWhite;
    }

    &__logo {
        margin: 0 3.3em;
        padding: 0.5em 0.8em;
        font-family: 'Montserrat', sans-serif;
        font-size: $sizeS;
        font-weight: 700;
        text-transform: lowercase;

        @include media-regular-desktop {
            margin: 0;
        }
    }

    &__links-item {
        position: relative;
        display: inline-block;
        list-style: none;

        @include media-mobile {
            display: block;
            margin: 1em 0;
            font-size: 3rem;
            text-align: center;
        }

        &::after {
            position: absolute;
            content: '';
            left: 50%;
            transform: translateX(-50%) scale(0);
            bottom: -0.4em;
            width: 46px;
            height: 2px;
            background-color: $colorBlack;
            transition: transform .3s;
        }

        &:hover::after {
            transform: translateX(-50%) scale(1);
        }

    }

    &__links-style {
        padding: 0.5em 1.2em;
    }
}

.burger-btn {
    display: none;

    @include media-mobile {
        display: block;
        margin: 0 1em;
        padding: .6em;
        border: transparent;
        z-index: 100;
    }

    &__open {
        display: none;

        &--close {
            display: block;
        }
    }

    &__close {
        display: block;

        &--open {
            display: none;
        }

    }
}